body{
    font-family: koodak;
}

::-webkit-scrollbar{
    width: 0.6vw;
}

::-webkit-scrollbar-track{
    background-color: lightblue;
}

::-webkit-scrollbar-thumb{
    background-color: #1289A7;
    border-radius: 10px;
    border: 2px solid black;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #67e6dc;
    box-shadow: 0px 0px 8px 10px #67e6dc;
    border-radius: 10px;
}    

.information-input{
    margin-top: 60px;
}

.send-inputs{
    margin-top: 40px;
}

#form-login{
    height: 400px;
}