html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 0.6vw;
}

::-webkit-scrollbar-track{
    background-color: lightblue;
}

::-webkit-scrollbar-thumb{
    background-color: #1289A7;
    border-radius: 10px;
    border: 2px solid black;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #67e6dc;
    box-shadow: 0px 0px 8px 10px #67e6dc;
    border-radius: 10px;
}    

body{
    direction: rtl;
    margin: 0;
    padding: 0;
    font-family: koodak;
}

/* system defult dark mod and light mod */

/* @media(prefers-color-scheme: dark) {
    body{
        background-color: black;
        color: white;
    }
    nav{
        background-color: white;

    }
} */


a{
    color: black;
    text-decoration: none;
}


/* navbar icons and links and logo */

nav{
    width: 100%;
    height: 80px;
    /* background-color: #351f9770; */
}

nav ul{
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}


/* nav user iocn */

.nav-link{
    color: black;
    text-decoration: none;
    margin-right: 8px;
}

.nav-link:hover{
    /* color: #7efff5; */
    color: #67e6dc;
    text-shadow: 0px 0px 6px #67e6dc;
}


/* nav register */

.register-link-icon{
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    /* flex-direction: row; */
}

.register-icon{
    width: 50px;
    height: 50px;
    margin-left: 5px;
}
.register-write{
    margin-left: 34px;
}

.register-write:hover{
    color: #1289A7;
}


/* nav logo */

.logo{
    width: 80px;
    height: 80px;
}


.logout{
    margin-right: 80px;
}

/* finish navbar */


/* header images and view button and dote of number */

/* header images and animation */

header{
    background-image: url(icon&logotitle/visionproheader.jpg);
    height: 530px;
    background-size: 100% 100%;
    background-repeat:repeat;
    animation-name: changeimage;
    animation-duration: 30s;
    animation-delay: 4s;
    animation-fill-mode:none;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}

@keyframes changeimage{
    15%{
        background-image: url(icon&logotitle/xiaomi13tproheader.jpg);
    }
    35%{
        background-image: url(icon&logotitle/headphoneheader.jpg);
    }
    55%{
        background-image: url(icon&logotitle/applaewatchheader.jpg);
    }

    75%{
        background-image: url(icon&logotitle/laptopheader1.jpg);
    }

}


/* header information */

.header-information-dotes{
    display: flex;
}


/* header button view information */

.view-information{
    width: 120px;
    height: 40px;
    border: none;
    background-color: #00b894;
    border-radius:10px;
    box-shadow: 0px 1px 3px 0px #00b894;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-images-information{
    width: 100%;
    height: 470px;
    display: flex;
    align-items: end;
}

.button-information{
    margin-right: 93%;
}


/* header dotes for images information */

.dote{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: end;
    justify-content: end;
}

.dotes{
    display: flex;
    margin-left: 10px;
    gap: 5px;
}

.dote-image-information{
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: lightgray;
}

/* finish header */


/* start main */

/* see all order and search orders */

.product-search{
    width: 100%;
    height: 90px;
    margin-top: 20px;
}

.see-all-products{
    display: flex;
    justify-content: center;
}

.see-all-product{
    color: #3742fa;
}

.see-all-product:hover{
    text-decoration:1px underline;
}

.search{
    display: flex;
    justify-content: center;
}

.products-search{
    width: 350px;
    height: 45px;
    /* border: 1px solid gray; */
    border: none;
    border-bottom: 1px solid gray;
    /* border-radius: 24px; */
    outline: none;
    margin-top: 13px;
    font-size: 18px;
    font-family: koodak;
}

.products-search:focus{
    /* border: 1px solid #2ed573; */
    border: none;
    border-bottom: 1px solid #2ed573;
    /* box-shadow: 0px 0px 7px 6px #2ed573; */
}

/* finish see order and search order */


/* products discount */

.product-title{
    margin: 20px 10px 0px 0px;
    font-family: koodak;
}

#fire-discount{
    color: #e74c3c;
}

.product-write{
    font-size: 28px;
}

.products{
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.product{
    width: 270px;
    height: 400px;
    box-shadow: 0px 0px 8px 0px rgb(203, 202, 202);
    display: grid;
    grid-template-rows: 150px 20px 20px 20px 20px;
    grid-template-columns: 230px;
    margin-right: 40px;
    gap: 10px;
    border-radius: 6px 6px 18px 18px;
    transition: all 0.5s;
}

.product:hover{
    transform: scale(1.1);
}


/* product image and stars and proposal */

.image-proposal-star-product{
    width: 270px;
    height: 200px;
    display: flex;
}

.image-product{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 6px 6px 0px 0px;
}

.proposalandstar{
    width: 270px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 6px;
    box-sizing: border-box;
}

.proposal-product{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 15px;
    background-color: #ff3838;
    color: black;
    border-radius: 14px;
    font-size: 15px;
}

.stars-product{
    font-size: 10px;
    color: #FFC312;
}


/* product name and price and buy  */

.name-product{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    margin-right: 30px;
    font-size: 20px;
    font-weight: bolder;
}

.price-product{
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    margin-top: 90px;
}

.price-org{
    text-decoration: line-through;
    color: lightgrey;
}

.currency-org{
    text-decoration: line-through;
    color: lightgrey;
}

.buy-product{
    height: 50px;
    width: 270px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
}

.buy{
    height: 38px;
    width: 210px;
    /* background-color: #3742fa; */
    background-color: #22a6b3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: whitesmoke;
}

.buy:hover{
    box-shadow: 0px 0px 4px 0px #22a6b3;
}

.savebtn-product{
    border: none;
    background-color: white;
}

#save-product{
    font-size: 25px;
}

.in-products-main{
    margin-right: 70px;
}

/* finish discount products */


/* start products special */

#gift-special{
    color: #ff9ff3;
}

.specials{
    width: 100%;
    height: 430px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding:0px 100px 0px 100px;
    margin-top: 55px;
}


/* special notfication */

.special-notf{
    width: 800px;
    height: 100%;
    border-radius: 7px;
    box-shadow: 0px 0px 8px 0px rgb(203, 202, 202);
}

.amazing-special{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
}

.amazing-special-write{
    width: 170px;
    height: 100%;
    color: whitesmoke;
    border-radius: 0px 0px 10px 10px;
    background-color: #d63031;
    display: flex;
    justify-content: center;
    align-items: center;
}

.special-product{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 500px;
}

.image-special{
    width: 100%;
    margin-top: 100px;
}

.information-special{
    margin-top: 60px;
}

.price-special-percent-discount{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding:0px 80px 0px 80px;
}

.percent-discount{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 26px;
    background-color: #d63031;
    border-radius: 15px;
    color: whitesmoke;
}

.name-product-special{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    margin-left: 30px;
    font-size: 20px;
    font-weight: bolder;
}

.special-dotted{
    height: 0px;
    width: 300px;
    margin-left: 70px;
    text-align: center;
    margin-top: 30px;
    border:1px dashed;
}

.time-special{
    margin-top: 40px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.write-for-time-special{
    margin-left: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    color: #a4b0be;
}

.write-special-amazing{
    margin-left: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.amazing-buy-special-write{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 200px;
    background-color: #22a6b3;
    border-radius: 10px;
    color: whitesmoke;
    transition: 0.3s;
}

.amazing-buy-special-write:hover{
    box-shadow: 0px 0px 4px 0px #22a6b3;
    transform: scale(1.1);
}


/* special poster */

.poster-special-discount{
    display: flex;
    gap: 20px;
    height: 430px;
}

/* finish special product */


/* start for user product */

.product-title-user{
    margin: 70px 10px 0px 0px;
}

#tag-for-user{
    color: #be2edd;
}

.product-for-user{
    width: 270px;
    height: 370px;
    box-shadow: 0px 0px 8px 0px rgb(203, 202, 202);
    display: grid;
    grid-template-rows: 150px 20px 20px 20px 20px;
    grid-template-columns: 230px;
    margin-right: 40px;
    gap: 10px;
    border-radius: 6px 6px 18px 18px;
    transition: all 0.5s;
}

.product-for-user:hover{
    transform: scale(1.1);
}

/* finish for user product */


/* footer about us and relatonship */

.about-us{
    width: 100%;
    height: 250px;
    background-color: #2f3640;
}

.title-aboutus{
    /* margin-top: 20px; */
    color: whitesmoke;
    margin-right: 20px;
}

.about-us-write-animation{
    color: whitesmoke;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100px;
    /* gap: 400px; */
}

.write-about-us{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-top: 30px;
}

.img-about-us{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-about-us{
    width: 200px;
}


/* relationship with we */

.relationship{
    width: 100%;
    height: 130px;
    background-color: #2f3640;
}

.title-relationship{
    margin: 0;
    color: whitesmoke;
    margin-right: 20px
}

.relationships{
    height: 95px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#instagram{
    color: whitesmoke;
    transition: 0.4s;
    font-size: 19px;
}

#instagram:hover{
    color: #d63031;
    transform: scale(1.7);
}

#telegram{
    color: whitesmoke;
    transition: 0.4s;
}

#telegram:hover{
    color: #0984e3;
    transform: scale(1.7);
}

#gmail{
    color: whitesmoke;
    transition: 0.4s;
}

#gmail:hover{
    /* color: #d63031; */
    transform: scale(1.7);
}

#twitter{
    color: whitesmoke;
    transition: 0.4s;
}

#twitter:hover{
    color: black;
    transform: scale(1.7);
}

#facebook{
    color: whitesmoke;
    transition: 0.4s;
}

#facebook:hover{
    color: #0652DD;
    transform: scale(1.7);
}

#whatsapp{
    color: whitesmoke;
    transition: 0.4s;
    font-size: 19px;
}

#whatsapp:hover{
    color: #20bf6b;
    transform: scale(1.7);
}


/* warning message */

.warning{
    width: 100%;
    height: 50px;
    color: whitesmoke;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* finish footer */